body {
    background-color: #071330;
    color: #00ff9d;
    font-family: Consolas, monospace;
    text-align: center;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.oculto {
    display: none;
}

pre {
    background: black;
    padding: 20px;
    display: inline-block;
}
