body {
    background: #0f172a;
    color: #00ff88;
    font-family: Consolas, monospace;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 700px;
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.oculto {
    display: none;
}

.fase {
    margin-top: 40px;
}

pre {
    background: black;
    padding: 20px;
}
